# Environments
.venv/
venv/
ENV/
env/

# Test DB
backend/data.py

# Dev scripts and docs
dev-notes.md
backend/webp_generator.py

# Artworks
storage/

# Database dumps
cosmoluci_dev.dump
database.sql

/postgres_data/
data.sql

*.dump
*.sqlite
*.sqlite3
*.db

# Python
__pycache__/
*.py[cod]

.DS_Store
**/.DS_Store