# Environments
.venv/
venv/
ENV/
env/

# Dev scripts and docs
dev-notes.md

# Artworks
storage/

# Database dumps
cosmoluci_dev.dump
database.sql

/postgres_data/
data.sql

*.dump
*.sqlite
*.sqlite3
*.db

.DS_Store
**/.DS_Store

# Secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyc