.about__content-container {
    display: flex;
    width: 100%;
    gap: 3rem;
}
.about-main__right-wrapper {
    width: 50vw;
}

.about__accordion-item {
    max-width: 50vw;
    width: 100%;
    overflow: hidden;
    margin-top: 1rem;
}
.about__title-box {
    position: relative;
    cursor: pointer;
    transition: .3s ease;
    padding-left: 2em;
    /* background-color: pink; */
    &:hover {
        color: var(--clr-accent);
        transition: .3s ease;
        /* &::before {
            background: url(../../assets/icons/sun.svg) center no-repeat;
            background-size: contain;
            width: 1.3em;
            height: 1.3em;
            margin-left: 0;
        } */
    }
}
.about__text-box {
    position: relative;
    max-height: 0px;
    overflow: hidden;
    will-change: max-height;
    opacity: 0;
    transition: .7s ease;
    margin-left: 2em;
}
.active_accordion .about__text-box {
    opacity: 1;
    transition: .7s ease;
}

/* .about__title-box::before {
    content: '';
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url(../../assets/icons/moon.svg) center no-repeat;
    background-size: contain;
    margin-left: 5px;
} */

.list-icon-closed {
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url(../../assets/icons/moon.svg) center no-repeat;
    background-size: contain;
    margin-left: 4px;
    opacity: 1;
    transition: .7s ease;
}
.list-icon-opened {
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url(../../assets/icons/sun.svg) center no-repeat;
    background-size: contain;
    margin-left: 0px;
    opacity: 0;
    transition: .7s ease;
}

@media screen and (max-width: 480px) {
    .about__content-container {
        flex-direction: column;
        gap: 0;
    }
    .about-main__right-wrapper {
        width: 100%;
    }
    .about__accordion-item {
        max-width: 100%;
    }

    .about-main__right-wrapper {
        order: -1;
    }
}