body {
    height: 100svh;
}

.main__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.painting__wrapper {
    max-width: 50%;
    margin-bottom: 2em;
    /* height: 100%;
    object-fit: cover; */
}

.painting__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    & > *:nth-child(2n) {
        display: flex;
        justify-content: end;
        align-items: center;;
    }
}

.painting__description {
    flex: 1;
    max-width: 50%;
}

@media screen and (max-width: 480px) {
    .painting__wrapper {
        max-width: 100%;
    }

    .painting__wrapper img {
        width: 100%;            /* Растягивает на всю ширину контейнера */
        max-width: 100%;        /* Гарантирует, что картинка не выйдет за пределы */
        height: auto;           /* Сохраняет пропорции изображения */
        display: block;         /* Убирает лишние нижние отступы у инлайновых картинок */

    }
}