body {
    /* height: 100svh; */
}

.main__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}

.painting__image {
    cursor: pointer;
}

.painting__figure {
    margin-bottom: 1rem;
}

.painting__figure img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
}

.painting__info {
    display: grid;
    grid-template-columns: 4fr 1fr;
    & > *:nth-child(2n) {
        display: flex;
        justify-content: end;
        align-items: center;;
    }
}

.painting__description {
    max-width: 80%;
    flex: 1;
}

.details__wrapper {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; */
    column-count: 2;
    column-gap: 1rem;

}

.detail {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .painting__wrapper {
        max-width: 100%;
    }
    .painting__figure img {
        width: 100%;            /* Растягивает на всю ширину контейнера */
        max-width: 100%;        /* Гарантирует, что картинка не выйдет за пределы */
        height: auto;           /* Сохраняет пропорции изображения */
        display: block;         /* Убирает лишние нижние отступы у инлайновых картинок */
    }
    .main__wrapper {
        grid-template-columns: 1fr;
    }

}